.star-rating {
  display: flex;
  gap: 20px;

  .star {
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;

    &:hover {
      transform: scale(1.2);
    }

    &:not(.selected) {
    filter: grayscale(100%) brightness(150%);
    }

    @media (max-width: 768px) {
      width: 30px !important;
      height: 30px !important;
    }
  }
}
