<div
  class="modal fade"
  tabindex="-1"
  [ngClass]="{ 'show d-block': isOpen }"
  [style.background]="isOpen ? 'rgba(0,0,0,0.5)' : 'transparent'"
>
  <div
    class="modal-dialog modal-dialog-centered w-90 mx-auto modal-dialog-scrollable"
    [ngClass]="{
      'modal-sm': size === 'sm',
      'modal-md': size === 'md',
      'modal-lg': size === 'lg',
      'modal-xl': size === 'xl'
    }"
  >
    <div class="modal-content custom-modal-spacing">
      <!-- Header -->
      <div
        class="modal-header border-0 position-relative d-flex flex-column flex-md-row justify-content-md-between align-items-md-center custom-modal-header text-center text-md-start"
      >
        <div
          class="d-flex flex-column flex-md-row align-items-center align-items-md-center gap-1 gap-md-2 w-100"
        >
          <h6 class="mb-0 text-sm-bs-inter-sb-grey-dark-18s-21l text-bs-inter-sb-grey-dark-15s-19l">
            {{ title }}
          </h6>
          <span *ngIf="compliance" class="text-bs-inter-medium-green-16s-20l mt-1 mt-md-0 ms-md-3">
            Compliance : {{ compliance }}
          </span>
        </div>

        <button
          type="button"
          class="btn-close position-absolute top-0 end-0 mt-2 me-2"
          (click)="closeModal()"
        ></button>
      </div>

      <!-- Body (content passed from parent) -->
      <div class="modal-body">
        <ng-content></ng-content>
      </div>

      <!-- Footer -->
      <div class="modal-footer justify-content-lg-end justify-content-center">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary custom-submit-btn" (click)="submitModal()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
