$colors: (
  primary: #2f80ed,
  on-primary: #ffffff,
  primary-container: #cce7ff,
  on-primary-container: #1363d0,

  secondary: #fadc1e,
  on-secondary: #000000,
  secondary-container: #e8def8,
  on-secondary-container: #1e192b,

  tertiary: #00b427,
  on-tertiary: #ffffff,
  tertiary-container: #ffd8e4,
  on-tertiary-container: #370b1e,

  error: #b3261e,
  on-error: #ffffff,
  error-container: #ffd8e4,
  on-error-container: #370b1e,

  background: #fffbfe,
  on-background: #1c1b1f,

  surface: #f1f3f6,
  on-surface: #1c1b1f,
  on-surface-var: #878787,
  surface-variant: #1e1e1e,
  on-surface-variant: #1e1e1e,

  outline: #dadada,
  outline-2: #79747e,

  custom: #2f80ed,
  on-custom: #ffffff,
  custom0-container: #aed0ff,
  on-custom0-container: #1363d0,

  custom-blue: #0088ff,
  custom-blue-200:#0088FF33,
  custom-red: #fc3636,
  secondary-gray:#AAAAAA,
  primary-blue:#CCE7FF33,
);
